server:
  port: 8888

spring:
  application:
    name: shumeng-config-server
  cloud:
      config:
        server:
          git:
            uri: https://github.com/vangao1989/cloudE.git
            searchPaths: cloudE-config-repo
            lable: master

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
